/* responsive */
@include media-breakpoint-down(xl) {
}
@include media-breakpoint-down(lg) {
    .catalog-item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
    .header-global {
        &.header-fixed {
            .container-wrapper {
                padding-left: 40px;
                padding-right: 40px;
            }
        }
    }
    .title {
        padding-left: 40px;
        padding-right: 40px;
        max-width: 512px;
    }
    .catalog {
        padding-left: 40px;
        padding-right: 40px;
    }
    .footer-sub-navigation {
        padding-left: 40px;
    }
    .scroll-top-block {
        padding-right: 40px;
    }
    .menu-secondary {
        padding-right: 19px;
    }
    .menu-primary {
        justify-content: flex-end;
        & > li {
            & > a {
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
    .product {
        padding-left: 40px;
        padding-right: 40px;
    }
}
@include media-breakpoint-down(md) {
    * {
        //background: #f00;
    }
    .copyright {
        padding-left: 40px;
        padding-top: 60px;
    }
    .footer-content {
        padding-left: 0;
    }
    .scroll-top-block {
        padding-top: 46px;
    }
    .navigation {
        display: none;
    }
    .navigation-toggle {
        display: block;
    }
    .logo {
        padding-top: 6px;
    }
    .navigation {
        position: absolute;
        right: 15px;
        top: 50px;
        z-index: 9090;
    }
    .header-global {
        &.header-fixed {
            .navigation {
                right: -5px;
            }
        }
    }
    .navigation-open {
        .navigation {
            display: block;
        }
    }
    .menu-primary {
        flex-wrap: wrap;
        justify-content: flex-end;
        padding: 12px;
        background: #FFFFFF;
        box-shadow: 0 15px 20px 0 rgba(34,28,158,0.12);
        border-radius: 0 0 4px 4px;
        & > li {
            margin-bottom: 3px;
            &.current-menu-parent,
            &.current-menu-item {
                margin-left: 0;
                margin-right: 0;
            }
        }
    }
    .go-back {
        width: 40px;
        text-indent: -9999px;
        padding-left: 0;
        padding-right: 0;
        top: -3px;
        &:before {
            left: 11px;
        }
    }
}
@include media-breakpoint-down(sm) {
    .catalog-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .header-global {
        &.header-fixed {
            .container-wrapper {
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
    .title {
        padding-left: 20px;
        padding-right: 20px;
        max-width: 372px;
    }
    .catalog {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer-sub-navigation {
        padding-left: 20px;
    }
    .scroll-top-block {
        padding-right: 20px;
    }
    .footer-sub-navigation {
        padding-left: 20px;
    }
    .scroll-top-block {
        padding-right: 20px;
    }
    .copyright {
        padding-left: 20px;
    }
    .search-form {
        max-width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }
    .catalog-item {
        &:hover {
            .catalog-item-wrapper {
                &:after {
                    opacity: 0;
                }
            }
            .catalog-item-thumb {
                transform: translate3d(0, 0, 0);
            }
            .catalog-item-description {
                opacity: 1;
            }
        }
    }
    .catalog-item-panel {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    .catalog-item-description-name {
        padding-right: 0;
        text-align: center;
    }
    .catalog-item-description-price {
        display: none;
    }
    .catalog-item-description {
        padding-bottom: 0;
        height: 45px;
    }
    .catalog-item-panel {
        padding-top: 0;
    }
    .content {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .catalog-page-prev,
    .catalog-page-next {
        padding-left: 0;
        padding-right: 0;
        width: 40px;
        text-indent: -9999px;
        &:before {
            right: 11px;
        }
    }
    .catalog-page-prev {
        &:before {
            right: auto;
            left: 11px;
        }
    }
    .catalog-pagination {
        padding-top: 50px;
        padding-bottom: 30px;
    }
    .catalog-pages {
        padding: 0 15px;
        li {
            margin-left: 3px;
            margin-right: 3px;
            span {
                margin-left: 5px;
                margin-right: 5px;
            }
        }
    }
    .footer-global {
        padding: 60px 0 44px;
    }
    .header-global-bottom {
        display: none;
    }
    .header-global-top {
        height: 60px;
    }
    .header-global {
        top: 0;
    }
    .product {
        padding-left: 20px;
        padding-right: 20px;
        flex-wrap: wrap;
        justify-content: center;
        padding-bottom: 70px;
    }
    .product-gallery {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .slick-dots {
        bottom: -50px;
    }
    .product-content {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .product-content-wrapper {
        max-width: 367px;
        margin: 0 auto;
        padding-top: 80px;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
        text-align: center;
    }
    .product-meta {
        ul {
            li {
                margin-right: 15px;
                margin-left: 15px;
            }
        }
    }
    .catalog-recommended-title {
        text-align: center;
    }
}
@include media-breakpoint-down(xs) {
    .catalog-item {
        flex: 0 0 100%;
        max-width: 100%;
    }
    * {
        //background: #f00;
    }
}